<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYRuntime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE12C6D11D7678C2006BB0D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE12C6EA1D7678C2006BB0D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE12C6F51D7678C2006BB0D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
